@page
@*@model BookListRazor.Pages.FoodCalculatorModel*@
<style>
    body {
        background-image: url("../../img/Deloitte/infrastructure/DEB_8923.jpg");
        background-repeat: no-repeat, repeat;
        background-position: center; /* Center the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        /*    padding-top: 50px;*/
    }
    h1 {
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }

    .neon {
        color: #fff;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
    }
</style>


<h1 class="neon text-white">Your willingness is awesome!</h1>
<br />
<br />
<body>

    <div class="container" style="padding: 30px; background-color:black; opacity:0.6;">
        <div class=" align-items-center" style="font-weight:600">
            <ul>
                <li style="color:#86bc24;"><a href="https://www.dosomething.org/us/facts/11-facts-about-e-waste#fn6" target="_blank" style="color:#fff">11 facts about E-waste</a></li>
                <li style="color:#86bc24;"><a href="https://www.theworldcounts.com/stories/Electronic-Waste-Facts" target="_blank" style="color:#fff">Electronic Revolution - World Count</a></li>
                <li style="color:#86bc24;"><a href="https://s2s.uk.com/news/10-shocking-facts-from-the-global-e-waste-monitor/" target="_blank" style="color:#fff">10 Shocking Facts from Global E-waste Monitor</a></li>
            </ul>
        </div>


    </div>
    <div class="form-group row">
        <div class="col-3 offset-9">
            <a asp-page="/WorldClimate/Ewaste" class="btn btn-success form-control">Back</a> @*text-white*@
            @*C:\Users\randas\Documents\Book List Project\BookListRazor\BookListRazor\Pages\WorldClimate\Ewaste.cshtml*@
        </div>
    </div>
</body>

