@page
@*@model BookListRazor.Pages.FoodCalculatorModel*@
<style>
    body {
        background-image: url("../../img/Deloitte/infrastructure/DEB_8923.jpg");
        background-repeat: no-repeat, repeat;
        background-position: center; /* Center the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        /*    padding-top: 50px;*/
    }
    h1 {
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }

    .neon {
        color: #fff;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
    }
</style>


<h1 class="neon text-white">Our Research Links</h1>
<br />
<br />
<body>

    <div class="container" style="padding: 30px; background-color:black; opacity:0.6;">
        <div class=" align-items-center" style="font-weight:600">
            <ul>
                <li style="color:#86bc24;"><a href="https://en.wikipedia.org/wiki/Paris_Agreement" target="_blank" style="color:#fff">Paris Agreement</a></li>
                <li style="color:#86bc24;"><a href="https://timesofindia.indiatimes.com/city/nagpur/64-countries-including-india-cut-co2-emissions-in-2016-19/articleshow/81335506.cms" target="_blank" style="color:#fff">64 countries in 2016-19</a></li>
                <li style="color:#86bc24;"><a href="https://podcasting.deloitte.com/clients/cb33ce64-33da-4a18-8758-2b7a12c73075/podcasts/22ca1d24-a88b-424d-b715-73044bb0ee64?episodeId=35d6fc07-0b8a-4c30-87e9-5c08dd58b32d" target="_blank" style="color:#fff">Deloitte Beacon</a></li>
                
                <li style="color:#86bc24;"><a href="https://www.ecowatch.com/carbon-sequestration-2461971411.html" target="_blank" style="color:#fff">8 ways to Sequester Carbon to Avoid Climate catastrophe</a></li>
                
                <li style="color:#86bc24;"><a href="https://en.wikipedia.org/wiki/Special_Report_on_Global_Warming_of_1.5_%C2%B0C" target="_blank" style="color:#fff">Special report on  Global Warming</a></li>
                
                <li style="color:#86bc24;"><a href="https://www.britannica.com/technology/carbon-sequestration" target="_blank" style="color:#fff">Carbon Sequestration</a></li>
                <li style="color:#86bc24;"><a href="https://www.youtube.com/watch?v=4JYtUKujZfY" target="_blank" style="color:#fff">Start up in New Delhi, India</a></li>
                <li style="color:#86bc24;"><a href="https://www.youtube.com/watch?v=aUwFXDLOFO0" target="_blank" style="color:#fff">What recycling e-waste looks like</a></li>
                <li style="color:#86bc24;"><a href="https://cpcb.nic.in/uploads/Projects/E-Waste/List_of_E-waste_Recycler.pdf" target="_blank" style="color:#fff">List of E-waste recyclers</a></li>
                <li style="color:#86bc24;"><a href="https://cpcb.nic.in/statistics/hw_statistics_1.pdf" target="_blank" style="color:#fff">State-wise waste generation</a></li>
                <li style="color:#86bc24;"><a href="https://cpcb.nic.in/recyclers/" target="_blank" style="color:#fff">Central Pollution Control Board of India</a></li>
                <li style="color:#86bc24;"><a href="https://www.youtube.com/watch?v=IqxwnmlUUts" target="_blank" style="color:#fff">How can we solve the massive problem of E-waste?</a></li>
                <li style="color:#86bc24;"><a href="https://in.pinterest.com/pin/288863763576771396/?d=t&mt=signupOrPersonalizedLogin" target="_blank" style="color:#fff">Pinterest Reveals a new Report</a></li>
                <li style="color:#86bc24;"><a href="https://www.thebetterindia.com/186938/lifestyle-donate-ewaste-ngo-recycling-old-phones-electronics-india/" target="_blank" style="color:#fff">Where to donate your E-waste in India</a></li>
                <li style="color:#86bc24;"><a href="file:///C:/Users/randas/Downloads/carbon-02-00011.pdf" target="_blank" style="color:#fff">Journal of Carbon Research - MDPI</a></li>
                <li style="color:#86bc24;"><a href="https://i.dell.com/sites/content/corporate/corp-comm/en/Documents/dell-laptop-carbon-footprint-whitepaper.pdf" target="_blank" style="color:#fff">Carbon footprint of a typical Dell laptop</a></li>
                <li style="color:#86bc24;"><a href="https://www.outofuse.com/en/reuse/" target="_blank" style="color:#fff">Outofuse website -Maximising use of IT equipment! </a></li>
                <li style="color:#86bc24;"><a href="https://www.energuide.be/en/questions-answers/how-much-power-does-a-computer-use-and-how-much-co2-does-that-represent/54/" target="_blank" style="color:#fff">How much CO2 is represented by a computer's power usage?</a></li>
                <li style="color:#86bc24;"><a href="https://www.who.int/globalchange/publications/factsheets/Kit2008_annex1_2.pdf?ua=1" target="_blank" style="color:#fff">Protecting health from climate change</a></li>
            </ul>
        </div>


    </div>
    <div class="form-group row">
        <div class="col-3 offset-9">
            <a asp-page="/WorldClimate/About" class="btn btn-success form-control">Back</a> @*text-white*@
            @*C:\Users\randas\Documents\Book List Project\BookListRazor\BookListRazor\Pages\WorldClimate\Ewaste.cshtml*@
        </div>
    </div>
</body>

