body {
    background-image: url("https://i.pinimg.com/originals/fe/ce/66/fece66963c414662333f7884a70dbde3.jpg");
    /*    background-image: url("https://cdn.pixabay.com/photo/2019/09/24/16/05/storm-4501645_1280.jpg");*/
    background-repeat: no-repeat, repeat;
    background-position: center; /*center the image */
    background-size: cover; /*resize the background image to cover the entire container */
    /*    padding-top: 50px;*/
}

.login-form {
    background: #1a11117a;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 100px;
    border-radius: 50px;
    color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.login-heading {
    text-align: center;
    margin-top: 20px;
}

/*.container {
    background: #09090a4f;
    border-radius: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
}*/

.btn-primary {
    width: 100%;
}

/*.header-name {
    background: #1a11117a;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
    border-radius: 50px;
    color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}*/
